<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizations</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="status-chart"></div>
    <div id="treatment-chart"></div>

    <script type="text/javascript">
        // Render the status chart
        var statusChart = {{ status_chart_json | safe }};
        Plotly.newPlot('status-chart', statusChart);

        // Render the treatment chart
        var treatmentChart = {{ treatment_chart_json | safe }};
        Plotly.newPlot('treatment-chart', treatmentChart);
    </script>
</body>
</html>
